

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'blog/style.css' %}" type='text/css'/>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">

{% block content %}

    {% if user.is_authenticated %}

    {% else %}
    {% include "blog/includes/navbar_guest.html" %}
    {% endif %}

{% if all_posts %}


{% for post in all_posts|slice:"1:" %}
    <div class="all_posts">
    <div class="container">
        <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><a  href=" {% url 'blog:detail' post.id %}" class="list-group-item"> {{ post.username }}</a></div>
        <div class="col-sm-4"></div>
        </div>
    </div>
    </div>
{% endfor %}


{% else %}
    <h3>Null</h3>
{% endif %}

{% endblock %}

