{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '/blog/style.css' %}" type='text/css'/>
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% block content %}

    {% if all_posts %}
{% for user in all_posts|slice:":1:" %}
    <div><h1 class="user_name">{{ user.auth_user }}'s blog!</h1></div>

    {% endfor %}

{% for info in profile %}
<div class="profile_info">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 test" ><img class="profile_pic" src="{{ info.profile_pic }}"><br>{{ info.profile_info }}</div>
            <div class="col-sm-6">
            {% for post in all_posts %}

                    <h1 id="title">{{ post.title }}</h1>
                    <h2 id="blog_post">{{ post.blog_post|safe }}</h2>
                    <h6>{{ post.time_date }}</h6><hr>

            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endfor %}



{% else %}
        <div class="no_post">No posts found, try again later!</div>
{% endif %}

{% endblock %}

