{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% if user.is_authenticated %}
    <ul class="nav nav-tabs">
    <li class="navbar-text">Welcome {{ user.username }}</li>
  <li role="presentation"><a href="{% url 'blog:index' %}">Home</a></li>
  <li role="presentation"><a href="{% url 'blog:profile' %}">Profile</a></li>
  <li role="presentation"><a href="/blog/posts-add/{{ user.id }}">New blogpost</a></li>
        <li role="presentation"><a href="{% url 'blog:logout' %}">Logout</a></li>
{% else %}
    {% endif %}
</ul>

{% endblock %}