/*Profile */
.user_name{
    text-align: center;
    font-size: 72px;

}

.profile_info{
    text-align: center;

}
.profile_pic{
    margin-top: 1%;
    height: 35%;
    width: 70%;
    border-radius: 3px;
    margin-bottom: 3%;


}
.profile_info_info{
    font-family: quicksand;
    width: 70%;
    margin-left: 15%;

}
/* Start */
.welcome {
    text-align: center;
    font-family: quicksand;

}

body {
    width: auto;
    font-family: quicksand;
    top: 0;

}

/* blog_posts */
.post{
    text-align: center;
}

.no_post{
    text-align: center;
    margin-top: 20%;
}
/* navbar */
.brand{
    height: 100%;
    width: auto;
}

.brand_holder{
    height: 10%;
    width: 17%;
    margin-bottom: 200%;
    padding: -10%;
}

.container-fluid  {
    align-content: center;
    font-family: quicksand;
    box-shadow: 0px 0px 5px #888888;
    border-radius: 0px;
    border-top: none;
}

/* all posts in home */
.all_posts{
    margin-top: 3%;
    align-content: center;
}

.list-group-item{
    text-align: center;
    letter-spacing: 3px;
    margin-left: auto;
    margin-right: 30%;
}

.add_posts {
    margin-top: 3%;
    align-content: center;
    font-family: quicksand;
}

.newpost {
     text-align: center;
}

h1{
    text-align: center;
    font-family: quicksand;
}

h2{
    font-size: 15px;
}
.font{
    font-family: quicksand;
}

#form-row .form-row {
    align-content: center;
}

.form-row input{
    font-family: quicksand;

}
.form-row textarea{
    font-family: quicksand;
    align-content: center;
}

.container .form-row{
align-content: center;
}

#rise{
    height: 1000px;
}
.test{
    padding: 1px;
    margin-top: 1%;
    height: auto;
    width: 30%;
    text-align: center;
    border-left: groove;
    position: fixed;
    right: 13%;


}

#form-row add{
    background-color: yellowgreen;
}
