{% include "blog/includes/html_template.html" %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}" type='text/css'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


{% if user.is_authenticated %}
{% include "blog/includes/navbar.html" %}
{% endif %}

<div class="add_posts">
    <div class="container">
    <div class="row">
    <div class="col-m-4"></div>
    <div id="form-row" class="col-m-4">
        <h1>Add picture URL and write your profile info here </h1>

        <form class="form-row" action="" method="POST">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}



        <input type="submit" value="Submit" />

        </form>

    <div class="col-m-4"></div>
        </div>

    </div>
    </div>