{% include "blog/includes/html_template.html" %}
  <title>RFS</title>
  {% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}" type='text/css'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>



   {% if user.is_authenticated %}

    {% else %}
    {% include "blog/includes/navbar_guest.html" %}
    {% endif %}

{% include "blog/includes/navbar.html" %}
{% include "blog/includes/blog_posts.html" %}

