
    <!-- loads the path to your static files -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'blog/style.css' %}" type='text/css'/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">



{% if user.is_authenticated %}
    {% include "blog/includes/navbar.html" %}
{% endif %}
<div class="user_name">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><h1 class="font">{{ user.first_name }} {{ user.last_name }}</h1></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>


{% for info in profile_info|slice:":1"  %}

<div class="profile_info">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"><img class="profile_pic" src="{{ info.profile_pic }}"><div class="profile_info_info">{{ info.profile_info }}</div></div>
            <div class="col-sm-4"></div>
        </div>
    </div>
</div>

{% endfor %}


